#aside {
  width: 25%;
  height: max-content;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

#aside a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#aside .badge {
  font-size: x-small;
}

#aside .wrapper {
  position: relative;
  width: 100%;
  height: max-content;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 0 0 .3rem black;
  background-color: #fff;
}

#aside .wrapper::before {
  content: "";
  width: 100%;
  height: calc(100% - 20px);
  display: block;
  position: absolute;
  right: -10px;
  top: 20px;
  z-index: -1;
  background-color: black;
  opacity: 0.7;
  box-shadow: 0 0 .5rem black;
}

#aside .profile .profile-image {
  display: inline-block;
  width: 40px;
  min-width: 40px;
  overflow: hidden;
  aspect-ratio: 1/1;
  margin-right: 10px;
}

#aside nav li {
  padding: 10px;
}

#aside nav li a {
  transition: color .8s ease-out;
}

#aside nav li a:hover {
  color: rgb(56, 101, 251);
}
